<div class="general-block-decorator">
    <div class="title title-without-tabs">
        {intl l="configure delivery round price" d='deliveryround.bo.default'}
    </div>

    {form name='deliveryround_config_form'}
        <form action="{url path='/admin/module/DeliveryRound/config'}" method="post">

            {form_hidden_fields form=$form}

            {if $form_error}
                <div class="alert alert-danger">{$form_error_message}</div>
            {/if}

            <div class="row">
                <div class="col-md-1">
                    {form_field form=$form field="price"}
                        <div class="form-group">
                            <label class="control-label" for="{$label_attr.for}">
                                {$label}
                            </label>

                            <input type="text" id="{$label_attr.for}" class="form-control" name="{$name}" value="{$value}" {if $required}required{/if} />
                        </div>
                    {/form_field}
                </div>

                <div class="col-md-1">
                    <label class="control-label"></label>
                    <button class="btn btn-info form-control" type="submit">{intl l='Save' d='deliveryround.bo.default'}</button>
                </div>
            </div>
        </form>
    {/form}
</div>

<div class="general-block-decorator">
    <div class="title title-without-tabs">
        {intl l="configure delivery rounds" d='deliveryround.bo.default'}
    </div>

    {form name='deliveryround_form'}
        <form action="{url path='/admin/module/DeliveryRound/addLocation'}" method="post">

            {form_hidden_fields form=$form}

            {if $form_error}
                <div class="alert alert-danger">{$form_error_message}</div>
            {/if}

            <div class="row">

                <div class="col-md-1">
                    {form_field form=$form field="zipcode"}
                        <div class="form-group">
                            <label class="control-label" for="{$label_attr.for}">
                                {$label} {if $required}*{/if}
                            </label>

                            <input type="text" id="{$label_attr.for}" class="form-control" name="{$name}" {if $required}required{/if} />
                        </div>
                    {/form_field}
                </div>

                <div class="col-md-2">
                    {form_field form=$form field="city"}
                        <div class="form-group">
                            <label class="control-label" for="{$label_attr.for}">
                                {$label} {if $required}*{/if}
                            </label>

                            <input type="text" id="{$label_attr.for}" class="form-control" name="{$name}" {if $required}required{/if} />
                        </div>
                    {/form_field}
                </div>

                <div class="col-md-3">
                    {form_field form=$form field="address"}
                        <div class="form-group">
                            <label class="control-label" for="{$label_attr.for}">
                                {$label} {if $required}*{/if}
                            </label>

                            <input type="text" id="{$label_attr.for}" class="form-control" name="{$name}" {if $required}required{/if} />
                        </div>
                    {/form_field}
                </div>


                <div class="col-md-2">
                    {form_field form=$form field="day"}
                        <div class="form-group {if $error}has-error{/if}">
                            <label class="control-label" for="{$label_attr.for}">
                                {$label} {if $required}*{/if}
                                {form_error form=$form field="day"}
                                    <br />
                                    <span class="error">{$message}</span>
                                {/form_error}
                            </label>

                            <select id="{$label_attr.for}" class="form-control" name="{$name}" {if $required}required{/if} >
                                {foreach $choices as $choice}
                                    <option value="{$choice->value}">{$choice->label|date_format:"%A"}</option>
                                {/foreach}
                            </select>
                        </div>
                    {/form_field}
                </div>

                <div class="col-md-2">
                    {form_field form=$form field="delivery_period"}
                        <div class="form-group">
                            <label class="control-label" for="{$label_attr.for}">
                                {$label} {if $required}*{/if}
                            </label>

                            <input type="text" id="{$label_attr.for}" class="form-control" name="{$name}" {if $required}required{/if} placeholder="{$label_attr.placeholder}" />
                        </div>
                    {/form_field}
                </div>

                <div class="col-md-1">
                    <label class="control-label"></label>
                    <button class="btn btn-info form-control" type="submit">{intl l='Save' d='deliveryround.bo.default'}</button>
                </div>

            </div>
        </form>
    {/form}

    <br>

    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>{intl l='ZipCode' d='deliveryround.bo.default'}</th>
                        <th>{intl l='City' d='deliveryround.bo.default'}</th>
                        <th>{intl l='Address' d='deliveryround.bo.default'}</th>
                        <th>{intl l='Day' d='deliveryround.bo.default'}</th>
                        <th>{intl l='Delivery period' d='deliveryround.bo.default'}</th>
                        <th>{intl l='Remove' d='deliveryround.bo.default'}</th>
                    </tr>
                </thead>
                <tbody>
                    {loop type='deliveryround' name='deliveryround-loop'}
                        <tr>
                            <td>{$ZIPCODE}</td>
                            <td>{$CITY}</td>
                            <td>{$ADDRESS}</td>
                            <td>{$DAY|date_format:"%A"}</td>
                            <td>{$DELIVERY_PERIOD}</td>
                            <td>
                                {form name='deliveryround_delete_form'}
                                    <form action="{url path='/admin/module/DeliveryRound/delete'}" method="post">

                                        {form_hidden_fields form=$form}

                                        {form_field form=$form field="id"}
                                                <input type="hidden" name="{$name}" value="{$ID}" {if $required}required{/if} />
                                        {/form_field}

                                        <button class="btn btn-default" type="submit">
                                            <span class="glyphicon glyphicon-trash"></span>
                                        </button>
                                    </form>
                                {/form}
                            </td>
                        </tr>
                    {/loop}
                </tbody>
            </table>
        </div>
    </div>
</div>